$link: #3e64a0;
$link_hover: #304d7b;
$tertiary_font: #848484;
$bl: #000;
$wh: #fff;
$secondary_font: #a0a0a0;
$links_hover: #c3d0e5;
$caption: #9e9e9e;
$form_hover: #41597f;
$underline: #b4e7f8;
$primary_accent: #e18e7f;
$button_hover: #b55f4b;
$browser_tab: #dbdbe0;
$highlight: #ff0;
$topic: #e3f6fc;
$code: #f4f4f7;
$iphone: #383838;
$main_font: "Open Sans", Roboto, sans-serif;
$backup_font: monospace;

/* .mobile-screenshot:hover,
.system-screenshot:hover,
.browser-screenshot:hover {
transform: translateY(-5%);
transition: all 300ms ease;
} */

body {
  font-family: $main_font;
}

html {
  font-family: $main_font;
}

h1 {
  font-weight: 600;
  color: $iphone;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-weight: 800;
  color: $iphone;
}

h5 {
  font-weight: 600;
}

h6 {
  font-weight: 600;
}

a {
  font-size: 0.875rem;
  color: $link;
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
  &:active {
    color: $link_hover;
    text-decoration: none;
  }
  &:focus {
    color: $link_hover;
    text-decoration: none;
  }
  &:hover {
    color: $link_hover;
    text-decoration: none;
  }
  &:visited {
    color: $link;
    text-decoration: none;
  }
  .btn {
    text-decoration: none;
    &:active {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }
  &:active.topic {
    color: $link !important;
    text-decoration: none;
  }
  &:focus.topic {
    color: $link !important;
    text-decoration: none;
  }
  &:hover.topic {
    color: $link !important;
    text-decoration: none;
  }
  &:visited.topic {
    color: $link !important;
    text-decoration: none;
  }
}

li {
  font-size: 0.875rem;
  a {
    -o-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -webkit-box-shadow: inset 0 -0.25rem 0 $underline;
    -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 0.125rem solid $underline;
    box-shadow: inset 0 -0.25rem 0 $underline;
    color: $bl !important;
    overflow-wrap: break-word;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    word-break: break-word;
    word-wrap: break-word;
    &:active {
      background-color: $underline;
    }
    &:focus {
      background-color: $underline;
    }
    &:hover {
      background-color: $underline;
    }
  }
}

p {
  font-size: 0.875rem;
  a {
    -o-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -webkit-box-shadow: inset 0 -0.25rem 0 $underline;
    -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 0.125rem solid $underline;
    box-shadow: inset 0 -0.25rem 0 $underline;
    color: $bl !important;
    overflow-wrap: break-word;
    transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    word-break: break-word;
    word-wrap: break-word;
    &:active {
      background-color: $underline;
    }
    &:focus {
      background-color: $underline;
    }
    &:hover {
      background-color: $underline;
    }
  }
}

.gray-text {
  color: $tertiary_font;
}

.gray-texta {
  color: $tertiary_font;
  &:active {
    color: $tertiary_font;
  }
  &:focus {
    color: $tertiary_font;
  }
  &:hover {
    color: $tertiary_font;
  }
  &:visited {
    color: $tertiary_font;
  }
}

.bold {
  font-weight: bold !important;
}

.medium {
  font-weight: 600 !important;
}

.normal {
  font-weight: normal !important;
}

a.underline {
  &:hover {
    text-decoration: underline;
  }
}

.marg-bot-0 {
  margin-bottom: 0 !important;
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

.marg-bot-2 {
  margin-bottom: 2rem !important;
}

.marg-top-05 {
  margin-top: 0.5rem !important;
}

.marg-top-1 {
  margin-top: 1rem !important;
}

.marg-top-2 {
  margin-top: 2rem !important;
}

.space-1 {
  display: block;
  width: 100%;
  height: 1rem;
}

.space-2 {
  display: block;
  width: 100%;
  height: 2rem;
}

.space-3 {
  display: block;
  width: 100%;
  height: 3rem;
}

.pad-top-0 {
  padding-top: 0 !important;
}

.btn {
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  &:hover {
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
}

.btn.btn-info {
  background: $primary_accent;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  color: $wh !important;
  &:active {
    background: $button_hover;
  }
  &:focus {
    background: $button_hover;
  }
  &:hover {
    background: $button_hover;
  }
}

.btn.btn-secondary {
  color: $wh;
  &:active {
    color: $wh;
  }
  &:focus {
    color: $wh;
  }
  &:hover {
    color: $wh;
  }
}

.buttons {
  margin-bottom: 0.5rem;
  width: 100%;
  .btn {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    z-index: 10;
  }
}

.content {
  .card {
    background: $wh;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    .timestamp {
      font-size: 0.875rem;
      margin-bottom: 0;
      a {
        font-size: 0.875rem;
      }
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .subtitle {
      font-weight: normal;
      margin-bottom: 0.75rem !important;
    }
    ul {
      margin-bottom: 0;
      padding-left: 1.5rem;
    }
    ul.tech {
      padding-bottom: 0.75rem;
    }
  }
  .card.card-post {
    padding: 0;
    .body {
      padding: 1rem;
    }
    .timestamp {
      margin-top: 0;
    }
  }
  .card.has-bg {
    border: 0 !important;
  }
  .card.has-img {
    padding: 0;
    .card-img {
      border-radius: 0.2rem 0.2rem 0 0;
      width: 100%;
    }
    .body {
      padding: 1rem;
    }
  }
  .card.has-img#hero {
    .card-img {
      background-position: top;
      background-repeat: none;
      background-size: cover;
      display: block;
      height: 10rem;
      width: 100%;
    }
  }
  a {
    .card {
      color: $bl;
      text-decoration: none;
      &:active {
        color: $bl;
      }
      &:focus {
        color: $bl;
      }
      &:hover {
        color: $bl;
      }
      &:visited {
        color: $bl;
      }
    }
  }
  position: relative;
  z-index: 1;
}

.profile-picture-wrapper {
  margin-right: calc(1rem + 2.5%);
}

.profile-picture {
  border-radius: 50%;
  height: auto;
  margin-bottom: 1.5rem;
  width: 10rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  .background-image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    flex: none;
    height: auto;
    margin-left: 1rem;
    max-height: 3rem;
    width: 3rem;
  }
  .flex {
    flex: 1;
  }
}

#hero {
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}

.text-line-behind {
  padding-top: 0.5rem;
  text-align: center;
  .line-behind {
    background: $browser_tab;
    height: 0.0625rem;
    position: relative;
    transform: translateY(0.875rem);
    width: 100%;
  }
  p {
    background: $wh;
    color: $secondary_font;
    display: inline-block;
    font-size: 0.75rem;
    padding: 0 0.5rem;
    transform: translateY(0);
    width: auto;
  }
}

.app {
  display: block;
  width: 100%;
  .content {
    min-height: calc(100vh - 3.25rem);
    padding-top: 1rem;
  }
  #menu {
    width: 100%;
  }
  .logo-wrapper {
    text-decoration: none !important;
  }
  .social {
    bottom: 0;
    display: block;
    margin-bottom: 1rem;
    position: absolute;
    width: 100%;
    a {
      text-decoration: none !important;
      img {
        display: inline-block;
        height: 1rem;
        margin-right: 0.4rem;
        opacity: 0.25;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
  .links {
    display: block;
    width: 100%;
    a {
      clear: left;
      color: $tertiary_font !important;
      display: block;
      margin-bottom: 0.5rem;
      text-decoration: none;
      &:active {
        color: $bl !important;
      }
      &:focus {
        color: $bl !important;
      }
      &:hover {
        color: $bl !important;
      }
    }
    a.active {
      color: $bl !important;
    }
  }
}

footer {
  margin-left: 12rem;
  margin-top: 1rem;
  padding-bottom: 1.2rem;
  padding-top: 1rem;
  position: relative;
  z-index: 1;
  p {
    color: $secondary_font;
    font-size: 0.75rem;
    line-height: 1;
    margin-bottom: 0;
  }
  p.right {
    float: right;
  }
  #scroll-to-top {
    cursor: hand;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bg {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;
  div {
    background: $browser_tab;
    position: fixed;
    transition: background 0.2s ease;
  }
  #line-1 {
    height: 0.0625rem;
    left: 0;
    top: 2.5rem;
    width: 100%;
  }
  #line-2 {
    height: 100%;
    left: 12.5rem;
    top: 0;
    width: 0.0625rem;
  }
  #line-3 {
    height: 100%;
    right: 15.625rem;
    top: 0;
    width: 0.0625rem;
  }
}

#contactModal {
  .modal-content {
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }
}

.modal-backdrop {
  background: $wh;
}

.form-control {
  border: 0.125rem solid rgba(0, 0, 0, 0.1);
  border-width: 0.125rem;
  font-family: $main_font;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  &:hover {
    border: 0.125rem solid rgba(0, 0, 0, 0.2);
  }
  &:active {
    border: 0.125rem solid $form_hover;
  }
  &:focus {
    border: 0.125rem solid $form_hover;
  }
}

textarea.form-control {
  margin-bottom: 0;
}

.alert {
  border-width: 0.125rem;
}

.caption {
  color: $caption !important;
  font-family: $main_font;
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;
  a {
    color: $caption !important;
    font-size: 0.75rem;
    &:visited {
      color: $caption !important;
    }
    &:active {
      color: $tertiary_font;
    }
    &:focus {
      color: $tertiary_font;
    }
    &:hover {
      color: $tertiary_font;
    }
  }
}

.citation {
  font-size: 0.75rem;
  line-height: 1;
  margin-bottom: 0.2rem;
}

.highlight {
  background: $highlight;
}

.topic {
  background: $topic;
  border-radius: 0.4rem;
  color: $link;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 0.4rem;
  margin-right: 0.2rem;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  transition: background 0.2s ease;
}

a.topic {
  border: 0;
  box-shadow: none;
  color: $link !important;
  &:hover {
    background: $underline;
  }
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.line {
  border-top: 0.125rem solid rgba(26, 26, 26, 0.1);
  display: block;
  height: 0;
  margin: 1rem 0;
  width: 100%;
}

hr {
  border-top: 0.125rem solid rgba(26, 26, 26, 0.1);
  display: block;
  height: 0;
  margin: 1rem 0;
  width: 100%;
}

.center {
  text-align: center;
}

.post {
  h1 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  h2 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  h3 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  h4 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  h5 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5rem;
  }
  p {
    line-height: 1.75;
  }
  .code {
    background: $code;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    overflow-x: scroll;
    padding: 1rem;
    xmp {
      font-family: $backup_font;
      font-size: 1rem;
      margin: 0;
    }
  }
  code {
    background: $code;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
  }
  .blockquote {
    border-left: 0.25rem solid $code;
    color: $tertiary_font;
    font-style: italic;
    padding: 0.25rem 0 0.25rem 1rem;
    .author {
      display: block;
      font-size: 1rem;
      font-style: normal;
      padding-top: 0.25rem;
      text-align: right;
    }
  }
}

#extracurriculars {
  padding-bottom: 1.5rem;
}

.card-post {
  h1 {
    line-height: 1.2;
    font-size: 2rem;
  }
  h2 {
    line-height: 1.2;
    font-size: 1.5rem;
  }
  h3 {
    line-height: 1.2;
    font-size: 1.25rem;
  }
  .line {
    margin: 0.75rem 0;
  }
}

.mac-wrapper {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;
  .mac {
    margin-bottom: 1rem;
  }
  .mac-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 12.5%;
    margin-top: 3.5%;
    padding-top: 47%;
    position: absolute;
    width: 75%;
  }
}

.carousel {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  .carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56.25%;
    width: 100%;
  }
}

.browser {
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  .top {
    background: $browser_tab;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem 0.2rem 0 0;
    height: 2.25rem;
    padding: 0.5rem;
    text-align: right;
    .circle {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      display: inline-block;
      height: 1.25rem;
      margin-left: 0.5rem;
      width: 1.25rem;
    }
  }
  .body {
    background: $wh;
    border: 0.0625rem solid rgba(0, 0, 0, 0.175);
    border-radius: 0 0 0.2rem 0.2rem;
    border-top: 0 solid transparent;
    padding: 1rem;
    h2 {
      color: $iphone;
    }
  }
}

.browser-screenshot {
  background: $browser_tab;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 0% 1.25% 2.5%;
  .top {
    height: 2rem;
    padding: 0.5rem 0;
    text-align: right;
    .circle {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      display: inline-block;
      height: 1rem;
      margin-left: 0.25rem;
      width: 1rem;
    }
  }
}

.system-screenshot {
  background: $wh;
  border: 0.0625rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
  padding: 0% 1.25% 2.5%;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 23rem;
  .top {
    height: 2rem;
    padding: 0.5rem 0;
    text-align: right;
    .circle {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      display: inline-block;
      height: 1rem;
      margin-left: 0.25rem;
      width: 1rem;
    }
  }
}

.mobile-screenshot {
  max-height: 30rem;
  text-align: center !important;
  margin: 0 auto;
}

.four {
  text-align: center;
  display: block;
}

.four-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

.project {
  align-items: flex-end;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05);
  color: $wh;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 2.5%;
  .screenshot-wrapper {
    padding: 5% 0 0 1rem;
    flex: 1;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .screenshot-wrapper {
      padding: 5% 1rem 0 0;
    }
  }
  .text {
    flex: 1;
    padding: 1rem 0;
    .btn {
      background: rgba(255, 255, 255, 0.3);
      color: $wh;
      &:hover {
        color: $wh;
      }
      &:focus {
        color: $wh;
      }
      &:visited {
        color: $wh;
      }
      &:active {
        color: $wh;
      }
    }
  }
  .browser-screenshot {
    border-bottom: 0;
    border-radius: 0.2rem 0.2rem 0 0;
    box-shadow: 0 -0.1rem 2rem rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
  }
  .system-screenshot {
    border-bottom: 0;
    border-radius: 0.2rem 0.2rem 0 0;
    box-shadow: 0 -0.1rem 2rem rgba(0, 0, 0, 0.25);
    padding-bottom: 0;
  }
}

.has-bg {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.mobile {
  position: relative;
  z-index: 1;
  height: 43.375rem;
  width: 21.375rem;
  * {
    box-sizing: border-box;
    display: block;
    &::before {
      box-sizing: border-box;
      display: block;
    }
    &::after {
      box-sizing: border-box;
      display: block;
    }
  }
  .side {
    background: $iphone;
    border-radius: 3.375rem;
    height: 43.375rem;
    padding: 0.9375rem 1.375rem;
    width: 21.375rem;
    z-index: 1;
  }
  .screen {
    background: $iphone;
    background-position: center center;
    background-size: cover;
    border-radius: 2.0625rem;
    position: relative;
    height: 40.75rem;
    width: 18.75rem;
    margin-left: -0.0625rem;
    margin-top: 0.375rem;
    z-index: 198;
    overflow: hidden;
  }
  .line {
    &::after {
      content: "";
      position: absolute;
      border: solid rgba(68, 68, 68, 0.25);
      border-width: 0 0.375rem;
      height: 0.3125rem;
      left: 0;
      width: 100%;
      z-index: 9;
      top: 4.25rem;
    }
    &::before {
      content: "";
      position: absolute;
      border: solid rgba(68, 68, 68, 0.25);
      border-width: 0 0.375rem;
      height: 0.3125rem;
      left: 0;
      width: 100%;
      z-index: 9;
      bottom: 4.25rem;
    }
  }
  .header {
    background: $iphone;
    border-bottom-left-radius: 0.8125rem;
    border-bottom-right-radius: 0.8125rem;
    height: 1.5rem;
    left: 50%;
    margin-left: -5.125rem;
    position: absolute;
    top: 0.9375rem;
    width: 10.25rem;
    z-index: 199;
  }
  .volume-button {
    background: $iphone;
    height: 1.625rem;
    left: -0.125rem;
    position: absolute;
    top: 5.75rem;
    width: 0.1875rem;
    &::after {
      content: "";
      position: absolute;
      background: $iphone;
      height: 3.125rem;
      left: 0;
      width: 0.1875rem;
      top: 3rem;
    }
    &::before {
      content: "";
      position: absolute;
      background: $iphone;
      height: 3.125rem;
      left: 0;
      width: 0.1875rem;
      top: 7rem;
    }
  }
  .power-button {
    background: $iphone;
    height: 5rem;
    right: -0.125rem;
    position: absolute;
    top: 10rem;
    width: 0.1875rem;
  }
}

.screen {
  img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 78rem) {
  a {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .content {
    .card.card-post {
      .body {
        padding: 1.5rem calc(1rem + 5%);
      }
    }
  }
  .app {
    .content {
      margin-left: calc(12rem + 5vw);
      margin-right: calc(12rem + 5vw);
      .content-full-width {
        margin-left: -5vw;
        margin-right: -5vw;
      }
    }
  }
}

@media screen and (max-width: 53rem) {
  .btn {
    padding: 0.375rem 0.75rem;
  }
  .no-flex-mobile {
    display: block !important;
  }
  .profile-picture {
    margin-left: calc(50% - 5rem);
  }
  .profile-picture-wrapper {
    margin-right: 0;
    width: 100%;
  }
  #hero {
    margin-top: -1rem;
  }
  .content {
    .card {
      .subtitle {
        font-size: 0.875rem;
      }
    }
    .card.card-post {
      .timestamp {
        font-size: 0.875rem;
      }
      .line {
        margin: 0.75rem 0;
      }
    }
  }
}

@media screen and (min-width: 64rem) {
  .content {
    .card.card-post {
      .body {
        padding: 1.5rem calc(1rem + 2.5%);
      }
    }
  }
  .app {
    .content {
      margin-left: calc(12rem + 1.25vw);
      margin-right: calc(1rem + 5vw);
      .content-full-width {
        margin-left: -1.25vw;
        margin-right: -5vw;
      }
    }
  }
  .card-columns {
    column-count: 3;
  }
  .card-columns.wide {
    column-count: 2;
  }
  .post {
    h1 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
    h2 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
    h3 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
    h4 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
    h5 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
    h6 {
      margin-bottom: 1rem;
      margin-top: calc(1.5rem + 1.25vh);
    }
  }
  .card-post {
    .body {
      &:first-child {
        padding-top: calc(1.5rem + 2.5vh) !important;
      }
      &:last-child {
        padding-bottom: calc(1.5rem + 2.5vh) !important;
      }
    }
  }
  .project {
    margin-bottom: calc(2rem + 2.5vh);
  }
}

@media screen and (max-width: 35.75rem) {
  .flex-container {
    .background-image {
      margin-left: 0.5rem;
      max-height: 3rem;
      width: 2.4rem;
    }
  }
  .space-mobile {
    display: block;
    height: 1rem;
    width: 100%;
  }
  .app {
    .content {
      padding-top: 0;
      .card {
        border-radius: 0;
        margin-left: -1rem;
        margin-right: -1rem;
        .card-img {
          border-radius: 0;
        }
      }
    }
  }
  .bg {
    display: none;
  }
  .project {
    border-radius: 0;
    margin-bottom: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

@media screen and (max-width: 52.9937rem) {
  .hidden-on-mobile {
    display: none;
  }
  .nav-space {
    display: block;
    height: 3.0625rem;
    width: 100%;
  }
  .nav {
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
    #overview {
      background: $wh;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 15;
      .logo {
        height: 2rem;
        margin-right: 0.75rem;
      }
      .logo.alt {
        opacity: 0;
        position: absolute;
        transition: all 0.2s ease;
        z-index: 1001;
      }
    }
    #overview.active {
      background: $form_hover;
      border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
      .logo.alt {
        opacity: 1;
      }
    }
    #toggle {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: calc(1rem + 0.1875rem);
      z-index: 1;
      span {
        background: $bl;
        display: block;
        height: 0.125rem;
        margin-bottom: 0.1875rem;
        transition: background 0.2s ease;
        width: 1rem;
      }
    }
    #toggle.active {
      span {
        background: #c3d0e5;
      }
    }
    #menu {
      background: $wh;
      border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
      height: 0;
      left: 0;
      overflow: hidden;
      padding: 1rem 1rem 0.5rem;
      position: absolute;
      top: 0;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 1;
    }
    #menu.active {
      background: $form_hover;
      height: 100vh;
    }
    .social {
      margin-top: 1rem;
      position: relative;
      a {
        img {
          color: $wh;
          filter: invert(100%);
          height: 1.4rem;
          margin-right: 2.5%;
          opacity: 0.75;
        }
      }
    }
    .links {
      a {
        color: $links_hover !important;
        font-size: 1.5rem;
        margin-bottom: 1.5%;
        &:hover {
          color: $wh !important;
        }
      }
      a.active {
        color: $wh !important;
      }
    }
  }
  #contact-btn {
    display: none;
  }
  #contact-link {
    display: inline-block;
  }
}

@media screen and (min-width: 53rem) {
  .hidden-on-desktop {
    display: none !important;
  }
  .content {
    > .container-fluid {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .app {
    .nav-wrapper {
      height: 100vh;
      padding-left: 1rem;
      position: fixed;
    }
    .nav {
      background: none;
      box-shadow: none;
      display: block;
      height: 100%;
      position: fixed;
      top: 0;
      width: 12rem;
      #toggle {
        display: none;
      }
      .logo {
        display: block;
        height: 2rem;
        margin-top: 1rem;
        opacity: 0.5;
      }
      .social {
        min-height: 1.75rem;
      }
      .links {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a {
          margin-bottom: 5%;
        }
      }
    }
    .content {
      margin-left: calc(12rem + 1.25%);
      margin-right: 1rem;
    }
  }
  #contact-btn {
    display: inline-block;
  }
  #contact-link {
    display: none;
  }
}

@media screen and (min-width: 93.5rem) {
  .app {
    .content {
      margin-left: calc(12rem + 15vw);
      margin-right: calc(12rem + 15vw);
      .content-full-width {
        margin-left: -15vw;
        margin-right: -15vw;
      }
    }
  }
}

@media screen and (max-width: 28rem) {
  footer {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 1.5rem;
    text-align: center;
    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
      width: 100%;
    }
    p.right {
      float: none;
    }
  }
}

@media screen and (max-width: 47.9375rem) {
  .col-1-format {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 37.125rem) {
  .card-columns {
    column-count: 1;
  }
}

@media screen and (min-width: 37.125rem) and (max-width: 64rem) {
  .card-columns {
    column-count: 2;
  }
  .card-columns.wide {
    column-count: 1;
  }
}

@media screen and (max-width: 64rem) {
  .project {
    display: block;
    padding: 0% 5%;
    .screenshot-wrapper {
      padding: 0;
      .browser-screenshot {
        box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.25);
      }
      .system-screenshot {
        box-shadow: 0 -0.1rem 0.5rem rgba(0, 0, 0, 0.25);
      }
    }
  }
}
